@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  
}

/* Header start */
.header {
  background-color: white;
  grid-column: 2 ;
  position: relative;
}
/* Search bar */

.searchTerm {
  position: absolute;
  left: 5%;
  padding: 5px;
  margin-top: 20px;
  width: 30%;
  background-color: rgba(205, 205, 205, 0.29);
  border-radius: 10px;
}

/* Greeting */

.greeting {
 width: 300px;
 position: absolute;
 left: 5%;
 bottom: 20px;

  
 
}
/* Avatar */

.avatar {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 40px;
}

.buttons {
  position: absolute;
  right: 200px;
  bottom: 20px;
}

.buttons button {
  background-color: #0ea5e9;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid;
  margin-right: 20px;
}

/* Header end */

/* Sidebar start */
.sidebar {
  background-color: #0ea5e9;
  grid-column-start: 1;
  grid-row: 1 / 4;
}

.sidebar .logo {
  font-size: 30px;
  color: white;
  text-align: center;
}

.sidebar ul {
  padding: 2px;
  font-size: 20px;
  color: white;
  display: block;
}


ul li {
  margin-left: 30px;
}

ul li:first-child {
  margin-top: 20px;
}

ul {
  line-height: 40px
}

li:hover {
  color: black;
}



/* Sidebar end */

/* Main start */
.main {
  background-color: rgba(205, 205, 205, 0.29);
}
/* Main end */